// Variables
$logo-width   : 150px !default;

// Styles
& {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	position: absolute;
	flex-direction: column;

	.logo {
		width: $logo-width;
		margin-bottom: 20px;
	}
}